<div class="container">
  <div class="pos-f-t">

    <nav class="navbar navbar-white bg-white">
      <button style="border: none;" *ngIf="!isExpansive" (click)="expansive(true)" class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <button style="border: none;" *ngIf="isExpansive" (click)="expansive(false)" class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div *ngIf="isExpansive">
      <div class="nav-container">
        <div class="container-fluid">
          <div>
            <div class="row">
              <div class="col">
                <nav  class="nav justify-content-start">
                  <a class="nav-link" *ngFor="let item of menuItem; let i = index" (click)="setActive(i)" [ngClass]="i === activeItem ? 'active-class' : 'inactive-class'" [class.active]="i === activeItem">{{item.texto}}</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

